body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  background-color: dimgray;
}

.container {
  position: relative;
  width: 402px;
  height: 874px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

h1 {
  position: absolute;
  width: 287px;
  height: 48px;
  top: 70px;
  left: 30px;
  font-size: 28px;
  font-weight: 800;
  margin: 0;
  color: #464646;
  line-height: 48px;
  overflow: hidden;
  white-space: nowrap;
}

.setting-img {
  position: absolute;
  top: 35px;
  right: 35px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  opacity: 0.7;
  padding: 0;
  cursor: pointer;
}

.setting-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.progress-circle {
  position: absolute;
  top: 170px; 
  left: 32px;
  width: 330px;
  height: 330px;
}

.date{ 
  top: 80px;
  left: 90px;
  position: absolute;
  width: 133px;
  height: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #464646;
  opacity: 0.8;
}

.calories{
  top: 120px;
  left: 80px;
  position: absolute;
  width: 165px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #464646;
}

.unit{
  top: 170px;
  left: 105px;
  position: absolute;
  width: 116px;
  height: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: rgba(70, 70, 70, 0.7);
}

.time{
  top: 220px;
  left: 75px;
  position: absolute;
  width: 78px;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #464646;
}

.steps{
  top: 220px;
  left: 180px;
  position: absolute;
  width: 75px;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #464646;
}

.start{
  left: 90px;
  position: absolute;
  width: 375px;
  height: 55px;
  left: 13px;
  top: 540px;
  background: rgba(9, 157, 255, 0.3);
  border: 1px solid #464646;
  border-radius: 50px;
}

p1{
  position: absolute;
  width: 231px;
  height: 23px;
  left: 50px;
  top: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #464646;
}

.start img{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 280px;
  top: 17px;
  opacity: 0.7;
}

p2{
  position: absolute;
  width: 185px;
  height: 24px;
  left: 25px;
  top: 640px;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #464646;
}

.last-training{
  position: absolute;
  width: 375px;
  height: 95px;
  left: 1px;
  top: 10px;
}

.bg-last{
  position: absolute;
  width: 375px;
  height: 95px;
  left: 13px;
  top: 669px;
  background: #F5F5F5;
  border-radius: 25px;
}

.last-training img {
  left: 10px;
  top: 669px;
  position: absolute;
  width: 172px;
  height: 95px;
}

p3{
  position: absolute;
  width: 107px;
  height: 31px;
  left: 235px;
  top: 677px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #464646;
}

p4{
  position: absolute;
  width: 57px;
  height: 22px;
  left: 260px;
  top: 700px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #464646;
}

.repeat{
  box-sizing: border-box;
  position: absolute;
  width: 155px;
  height: 30px;
  left: 211px;
  top: 722px;
  background: rgba(9, 157, 255, 0.3);
  border: 1px solid #000000;
  border-radius: 25px;
}
p5{
  position: absolute;
  width: 108px;
  height: 19px;
  left: 235px;
  top: 727px;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #464646;
}

#menu{
  position: absolute;
  width: 402px;
  height: 94px;
  left: 0px;
  top: 0px; 
}